@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.ProseMirror {
  outline: none;
  min-height: 80px;
}

/* Styling for Tiptap Placeholder */
.ProseMirror.is-empty:first-of-type::before {
  content: attr(data-placeholder);
  float: left;
  color: #a1a1aa; /* zinc-400 */
  pointer-events: none;
  height: 0;
}

:where(.dark) .ProseMirror.is-empty:first-of-type::before {
  color: #52525b; /* zinc-600 */
}

.ProseMirror p {
  @apply text-zinc-900 dark:text-zinc-100;
  margin: 0;
}

.ProseMirror-focused {
  outline: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
